{% extends "layoutAdmin.njk" %}

{% block content %}
  <div class="card_recipe">
    <section class="details">
      <div class="forms-actions">
        <form method="post" action="/admin/recipes">
          <div class="title-content">
            <h3>Criando Receita</h3>
            <button type="submit" class="save">Salvar receita</button>
          </div>
  
          {% include "admin/fields.njk" %}
        
          <input type="hidden" name="id" value="{{id}}"/>
        </form>
      </div> 
    </section>	
  </div>
  <script src="/scripts.js"></script>
{% endblock content %}