{% extends "layoutAdmin.njk" %}

{% block content %}
  <div class="card_recipe">
    <section class="details">
      	<form action="POST" action="/">
        
        </form>
    </section>
  </div>


<script src="scripts.js"></script>
{% endblock %}