    <div class="item">
      <div>Imagem da receita</div>
      <div class="item_image">
          <input 
            type="url" 
            name="avatar_url"
            placeholder="http://"
            value="{{recipe.image}}"
          >
      </div>
    </div>
    <div class="item">
      <div>Ingredientes</div>
      {% for ingredient in recipe.ingredients %}
        <div class="item_ingredient">
          <input 
            type="text" 
            name="ingredients[]"
            value="{{ingredient}}"
          >
        </div>
      {% endfor %}
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    <div class="item">
      <div>Modo de preparo</div>
      {% for preparation in recipe.preparation %}
        <div class="item_preparation">
          <input 
            type="text" 
            name="preparation[]"
            value="{{preparation}}"
          >
        </div>
      {% endfor %}
    </div>
    <button type="button" class="add-preparation">Adicionar novo passo</button>
    <div class="item">
      <div>Informações adicionais</div>
        <div class="item_information">
          <input 
            type="text" 
            name="name"
            value="{{recipe.information}}"
          >
        </div>
    </div>
    
    