{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy</title>
{% endblock %}

{% block content %}

        <div id="wrapper">
            <div class="info">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
            </div>
            
            <img src="/chef.png" alt="Chef">
        </div>

        <div class="title-access">
            <h2>Mais acessadas</h2>         
        </div>

        <section class="mais_acessados">
            {% for item in items %}
                <div class="card" id="{{loop.index0}}">
                    <div class="card_image-container">
                        <img src="{{item.image}}" alt="{{item.title}}">
                    </div>
                    <div class="card_content">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="card_info">
                        <p>{{item.author}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <div class="modal-content">
                    <div class="image_container_modal">
                        <img src="" alt="">
                    </div>
                    <div class="title_modal">
                        <p></p>
                    </div>
                    <div class="info_modal">
                        <p></p>
                    </div>
                </div>
                <a class="close-modal">Fechar modal</a>
                
            </div>
        </div>
 
<script src="scripts.js"></script>
{% endblock %}
