{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
        <section class="mais_acessados">
            {% for i in range(0, 2)  -%}
                {% for item in items %}
                    <div class="card" id="{{item.title}}">
                        <div class="card_image-container">
                            <!-- <img src="/burger.png" alt="{{item.title}}"> -->
                            <img src="{{item.image}}" alt="{{item.title}}">
                        </div>
                        <div class="card_content">
                            <p>{{item.title}}</p>
                        </div>
                        <div class="card_info">
                            <p>por {{item.author}}</p>
                        </div>
                    </div>
                {% endfor %}
            {%-  endfor %}
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <div class="modal-content">
                    <div class="image_container_modal">
                        <img src="" alt="">
                    </div>
                    <div class="title_modal">
                        <p></p>
                    </div>
                    <div class="info_modal">
                        <p></p>
                    </div>
                </div>
                <a class="close-modal">Fechar modal</a>
                
            </div>
        </div>
        
<script src="scripts.js"></script>
{% endblock %}



