@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Para o footer se ajustar ao final da página,
você vai precisar deixar o elemento pai, 
nesse caso o body, como display:flex; 
e fazer o ajuste de altura, nesse caso, 
coloquei toda a altura do viewport. */

body{
    background: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    height: 100vh;

    display: flex;
    flex-direction: column;/* fazer o flex ficar 
    em coluna e não em linha */
}

header{
    width: 940px;
    padding: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.logo a img {
    width: 90.6px;
    height: 26.9px;
}

.links{
    margin-left: 92.4px;
}

.links a {
    color: #111111;
    font-size: 16px;
    text-decoration: none;
    margin-left: 30px;
}
.links .active {
    font-weight: bold;
}

#wrapper {
    text-align: center;
    width: 940px;
    height: 366px;
    border-radius: 30px;
    opacity: 100%;
    background-color: #FBDFDB;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#wrapper .info h1 {
    color: #111111;
    font-size: 32px;    
    line-height: 52px;
    font-weight: bold;
    text-align: left;
    margin: 117px 60px 0% ;
}

#wrapper .info p {
    color: #000000;
    font-size: 18px;
    height: 84px;
    margin: 0 60px;
    text-align: left;
}

#wrapper img {
    text-align: center;
    margin-bottom: 0px;
    height: 300px;
    position: relative;
    left: 154px;
    top: 66px;
    
}
 /* ===================== MAIS ACESSADOS ===================== */
.title-access {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 940px;;
    height: 28px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.title-access h2{
    color: #111111;
    font-size: 24px;
}

.mais_acessados{
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card_image-container img{
    /* width: 100%; */
    height: 140px;
    width: 300px;
    border-radius: 15px;
}
.card_content{
    padding-top: 20px;
    font-size: 18px;
    color: #111111;
}

.card_info{
    padding-top: 5px;
    color: #777777;
    font-size: 14px;
}

/* ===================== FOOTER ======================== */
/*
.footer{
    margin-top: 50px;
    //margin-top: auto;
    //width: 100%;
    height: 62px;
    background-color: #eeeeee;
    font-size: 14px;
    color: #999999;
    text-align: center;
   position: fixed;
   bottom:0;
   left:0;
}
*/
/*
.footer p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
*/

.footer {
    margin-top: 50px;
    display: flex;
    flex: 1;    /* faz com que a div se expanda em todo altura restante */
    width: 100%;
    align-items: flex-end;  /* alinha o footer lá em baixo */

}

footer {
    padding: 23px 0;
    background-color: #eeeeee;
    width: 100%;
}

footer p{
    text-align: center;
}

/* ===================== SOBRE ======================== */

.title{
    width: 940px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.title h2{
    color: #111111;
    font-size: 24px;
}

.content {
    width: 940px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.content h3{
    font-size: 20px;
    padding-top: 30px;
}

.content p{
    font-size: 18px;
    color: #444444;
    padding-top: 20px;
}

/* ===================== RECEITAS ======================== */
/* MODAL*/

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 25vh auto;
    position: relative;
    border-radius: 16px;
}


.modal .close-modal{
    color: #999999;
    position: absolute;
    right: 50%;
    top: 364px;
    transform: translateX(50%);
    font-size: 16px;
    cursor: pointer;
}

/* MODAL ACTIVE */
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
    text-align: center;
}

.modal-overlay.active .image_container_modal img{
    position: relative;
    top: 30px;
    width: 600px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.modal-overlay.active .title_modal p{
    position: relative;
    top: 20px;
    font-size: 24px;
    color: #111111;
}
.modal-overlay.active .info_modal p{
    position: relative;
    top: 25px;
    font-size: 18px;
    color: #777777;
}


iframe {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 5%;
}

/* ===================== RECIPES ======================== */

.recipes{
    max-width: 940px;
    margin: 0 auto;
    gap: 20px;
}

.recipes .image-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.recipes .content p{
    padding-top: 50px;
    font-weight: bold;
    font-size: 36px;
    color: #111111;
    text-align: center;
}
.recipes .info p{
    padding-top: 4px;
    color: #777777;
    text-align: center;
    font-size: 20px;
}
.recipes .ingredients .title{
    display: grid;
    grid-template-columns: 0.245fr 1.245fr;
    padding-top: 50px;
    padding-bottom: 20px;
}

.recipes .preparation .title{
    display: grid;
    grid-template-columns: 0.55fr 2fr;
    padding-top: 39px;
    padding-bottom: 20px;
}

.recipes .information .title{
    display: grid;
    grid-template-columns: 0.80fr 2fr;
    padding-top: 39px;
    padding-bottom: 20px;
}

.recipes .title a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #999999;
    padding-top: 10px;
}

.recipes li, p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
}
.recipes .content_accordion.hide{
    display: none;
}

/* =========== LAYOUT ADMIN ================*/

body{
    background: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    height: 100vh;

    display: flex;
    flex-direction: column;/* fazer o flex ficar 
    em coluna e não em linha */
}

.admin_header{
    width: 100%;
    padding: 27px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 10fr;
    background-color: black;
}

.admin_logo{
    display: flex;
    width: 940px;
    align-items: center;
    justify-content: flex-end;

}

.admin_logo a img {
    width: 90.6px;
    height: 26.9px;
    background: white;
    filter: invert(100%);
    //margin-left: 500px; /* Rever esta margem aplicada para uma responsiva*/
}


/* ===================== ADMIN INDEX ===================== */
.admin_title {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 940px;
    height: 28px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.admin_title h2{
    color: #111111;
    font-size: 24px;
}

.admin_recipes{
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    //grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* ===================== ADMIN CARD ===================== */
.admin_card {
    /* Grid dividido ao meio*/
    display: grid;
    grid-template-columns: 1fr 1.25fr;
}

.admin_card_image-container img{
    /* width: 100%; */
    height: 80px;
    width: 172px;
    border-radius: 8.57px;
}
.admin_card_content p{
    /*padding-top: 20px;*/
    font-size: 18px;
    color: #111111;
    line-height: 21px;
    margin-bottom: 5px;
}

.admin_card_info p{
    /* padding-top: 5px; */
    color: #777777;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}
.admin_card_info a{
    /* padding-top: 5px; */
    color: #6558C3;
    font-size: 14px;
    height: 16px;
    text-decoration: none;
    font-weight: bold;
    line-height: 17px;
}

/* ===================== ADMIN RECIPE ===================== */


.admin_recipes{ /*Pensar em mudar esta parte*/
    max-width: 940px;
    margin: 0 auto;
    gap: 20px;
}
.admin_recipes .admin_recipe_title {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.admin_recipes .admin_recipe_title p{
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    /*margin-left: 50%;
    transform: translateX(-50%);*/
}

.admin_recipes .admin_recipe_title a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #6558C3;
    color: white;
    padding: 9px 20px;
    border-radius: 4px;
    margin-left: 0px;
    text-align: right;
}

.admin_recipes .admin_image-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.admin_recipes .admin_content p{
    padding-top: 50px;
    font-weight: bold;
    font-size: 36px;
    color: #111111;
    text-align: center;
}
.admin_recipes .admin_info p{
    padding-top: 4px;
    color: #777777;
    text-align: center;
    font-size: 20px;
}
.admin_recipes .admin_ingredients .admin_title{
    /*display: grid;
    grid-template-columns: 0.245fr 1.245fr;*/
    margin-top: 31px;
    margin-bottom: 19px;
    padding: 0;
}

.admin_recipes .admin_preparation .admin_title{
    /*display: grid;
    grid-template-columns: 0.55fr 2fr;*/
    margin-top: 41px;
    margin-bottom: 19px;
    padding: 0;
}

.admin_recipes .admin_information .admin_title{
    /*display: grid;
    grid-template-columns: 0.80fr 2fr;*/
    margin-top: 41px;
    margin-bottom: 19px;
    padding: 0;
}

.admin_recipes .admin_title a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #999999;
    padding-top: 10px;
}

.admin_recipes li, p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
    list-style-type: none;
}
/*
.admin_recipes li:before{
    content: "-";
    display: inline;
    float: left;
    margin-left: -18px;
    font-weight:700;
    color: black;
    font-size:20px;
    margin-top:3.5px
}
*/
/*
.recipes .content_accordion.hide{
    display: none;
}*/

.admin_content_accordion p {
    margin-bottom: 51px;
}